<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./app.component.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Jacques Francois:wght@400&display=swap" />
  	
  	
  	
</head>
<body>
   
        
  	<div class="desktop-1">
    		<div class="desktop-1-child">
    		</div>
    		<div class="lynkbhs">LynkBHS</div>
			
    		
    		<div class="welcome-to-lynkbhs-container">
				
      			<p class="welcome-to-lynkbhs">Welcome to LynkBHS</p>
      			<p class="where-everything-is">Where Everything is in One Spot!</p>
      			<p class="welcome-to-lynkbhs">&nbsp;</p>
      			<p class="where-everything-is">
        				<span> </span>
        				<span class="span"> </span>
						
      			</p>
    		</div>
    		<button class="schedule">Schedule </button>
    		<div><button class="courses">Courses</button></div>
    		<div><button class="clubs">Clubs </button></div>
    		<div><button class="sports">Sports </button></div>
    		<div><button class="volunteering">Volunteering</button></div>
    		<div><button class="activities">Activities</button></div>
  	</div>
  	
  	
  	
  	
</body>
</html>