.logo-child {
    width: 60.4px;
    height: 25.2px;
}
.iconback {
    width: 15.1px;
    position: relative;
    height: 15.1px;
    overflow: hidden;
    flex-shrink: 0;
}
.logo {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6.3px;
}
.menu-child {
    width: 37.8px;
    height: 37.8px;
}
.menu {
    width: 83.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.menu1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.menu2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.menu-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.frame-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 151px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15.1px;
}
.side-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 1.2583333253860474px 0px 2.52px rgba(0, 0, 0, 0.25);
    background-color: #8e2121;
    width: 322px;
    height: 5024px;
    overflow: hidden;
}
.sports {
    position: absolute;
    top: 716px;
    left: 18px;
    font-weight: 500;
    display: inline-block;
    width: 186.2px;
    height: 55px;
    text-shadow: 0.8px 0 0 #000, 0 0.8px 0 #000, -0.8px 0 0 #000, 0 -0.8px 0 #000;
}
.volunteer {
    position: absolute;
    top: 606px;
    left: 18px;
    font-weight: 500;
    display: inline-block;
    width: 186.2px;
    height: 55px;
    text-shadow: 0.8px 0 0 #000, 0 0.8px 0 #000, -0.8px 0 0 #000, 0 -0.8px 0 #000;
}
.courses {
    position: absolute;
    top: 386px;
    left: 18px;
    font-weight: 500;
    display: inline-block;
    width: 186.2px;
    height: 55px;
    text-shadow: 0.8px 0 0 #000, 0 0.8px 0 #000, -0.8px 0 0 #000, 0 -0.8px 0 #000;
}
.clubs {
    position: absolute;
    top: 276px;
    left: 18px;
    font-weight: 500;
    display: inline-block;
    width: 186.2px;
    height: 55px;
    text-shadow: 0.8px 0 0 #000, 0 0.8px 0 #000, -0.8px 0 0 #000, 0 -0.8px 0 #000;
}
.schedule {
    position: absolute;
    top: 166px;
    left: 18px;
    font-weight: 500;
    display: inline-block;
    width: 166px;
    height: 50px;
    text-shadow: 0.8px 0 0 #000, 0 0.8px 0 #000, -0.8px 0 0 #000, 0 -0.8px 0 #000;
}
.backendreview-badge {
    width: 257.6px;
    position: relative;
    box-shadow: 0px 0px 11.98px rgba(59, 130, 246, 0.12);
    border-radius: 11.98px;
    background-color: #fff;
    border: 1.5px solid #e2e8f0;
    box-sizing: border-box;
    height: 149.7px;
    overflow: hidden;
    flex-shrink: 0;
}
.backendreview-badge-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 12px;
}
.desktop-2-inner {
    position: absolute;
    top: 622.87px;
    left: 343px;
    width: 1107px;
    height: 263.3px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.backendbanner {
    position: absolute;
    top: 318px;
    left: 343px;
    box-shadow: 0px 0px 8.97px rgba(59, 130, 246, 0.12);
    border-radius: 8.97px;
    background-color: #fff;
    border: 1.1px solid #e2e8f0;
    box-sizing: border-box;
    width: 424px;
    height: 133.9px;
}
.lynkbhs {
    position: absolute;
    top: 19px;
    left: 18px;
    font-size: 54.91px;
    font-weight: 500;
    font-family: Inter;
    display: inline-block;
    width: 286px;
    height: 83px;
    text-shadow: 1.3px 0 0 #000, 0 1.3px 0 #000, -1.3px 0 0 #000, 0 -1.3px 0 #000;
}
.backendbanner1 {
    position: absolute;
    top: 491px;
    left: 343px;
    box-shadow: 0px 0px 8.92px rgba(59, 130, 246, 0.12);
    border-radius: 8.92px;
    background-color: #fff;
    border: 1.1px solid #e2e8f0;
    box-sizing: border-box;
    width: 421.3px;
    height: 133px;
}
.backendbanner2 {
    position: absolute;
    top: 147px;
    left: 342px;
    box-shadow: 0px 0px 8.97px rgba(59, 130, 246, 0.12);
    border-radius: 8.97px;
    background-color: #fff;
    border: 1.1px solid #e2e8f0;
    box-sizing: border-box;
    width: 424px;
    height: 133.9px;
}
.backendbanner3 {
    position: absolute;
    top: 147px;
    left: 809px;
    box-shadow: 0px 0px 11.47px rgba(59, 130, 246, 0.12);
    border-radius: 11.47px;
    background-color: #fff;
    border: 1.4px solid #e2e8f0;
    box-sizing: border-box;
    width: 600px;
    height: 475px;
}
.activities {
    position: absolute;
    top: 496px;
    left: 18px;
    font-weight: 500;
    display: inline-block;
    width: 186.2px;
    height: 55px;
    text-shadow: 0.8px 0 0 #000, 0 0.8px 0 #000, -0.8px 0 0 #000, 0 -0.8px 0 #000;
}
.desktop-2 {
    width: 100%;
    height: 100vh;
    position: relative;
    background-color: #fff;
    overflow: hidden;
    text-align: left;
    font-size: 30px;
    color: #fff;
    font-family: Jost;
}


