<!DOCTYPE html>
<html>
<head>
  	<meta charset="utf-8">
  	<meta name="viewport" content="initial-scale=1, width=device-width">
  	
  	<link rel="stylesheet"  href="./app.component.css" />
  	<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500&display=swap" />
  	
  	
  	
</head>
<body>
  	
  	<div class="side-menu-parent">
    		<div class="side-menu">
      			<div class="frame-parent">
        				<div class="logo-wrapper">
          					<div class="logo">
            						<div class="byway-wrapper">
              							<div class="byway">LYNKBHS</div>
            						</div>
            						
            						
          					</div>
        				</div>
        				<div class="menu-parent">
          					<div class="menu">
            						<div class="iconsidedashboard-wrapper">
              							
              							
            						</div>
            						<div class="byway">Schedule</div>
          					</div>
          					<div class="menu1">
            						<div class="iconsidedashboard-wrapper">
              							
              							
            						</div>
            						<div class="byway">Courses</div>
          					</div>
          					<div class="byway-wrapper">
            						<div class="iconsidedashboard-wrapper">
              							
              							
            						</div>
            						<div class="lable2">Clubs</div>
          					</div>
          					<div class="byway-wrapper">
            						<div class="iconsidedashboard-wrapper">
              						
              							
            						</div>
            						<div class="lable2">Activities</div>
          					</div>
          					<div class="byway-wrapper">
            						<div class="iconsidedashboard-wrapper">
              							
              							
            						</div>
            						<div class="lable2">Volunteer</div>
          					</div>
							  <div class="byway-wrapper">
								<div class="iconsidedashboard-wrapper">
									  
									  
								</div>
								<div class="lable2">Sports</div>
        				</div>
      			</div>
      			<div class="logo-container">
        				<div class="logo">
          					<div class="logo-parent">
            						
            						
            						
          					</div>
          					
          					
        				</div>
      			</div>
    		</div>
    		
    		
    		
    		</div>
    		<div class="charts">
    		</div>
    		<div class="frame-wrapper">
      			<div class="backendreview-badge-parent">
        				<div class="backendreview-badge">
        				</div>
        				<div class="backendreview-badge">
        				</div>
        				<div class="backendreview-badge">
        				</div>
        				<div class="backendreview-badge">
        				</div>
      			</div>
    		</div>
  	</div>
  	
  	
  	
  	
</body>
</html>