.byway {
    position: relative;
    font-weight: 500;
}
.byway-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.iconback {
    width: 15.1px;
    position: relative;
    height: 15.1px;
    overflow: hidden;
    flex-shrink: 0;
    transform:  rotate(1.2deg);
}
.logo {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6.3px;
}
.iconsidedashboard-wrapper {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 11.3px;
}
.menu {
    width: 83.7px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.menu1 {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
.lable2 {
    position: relative;
    line-height: 150%;
}
.menu-parent {
    align-self: stretch;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 8.81px;
}
.frame-parent {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 151px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15.1px;
}
.logo-icon {
    width: 25.2px;
    position: relative;
    border-radius: 62.92px;
    height: 25.2px;
    object-fit: cover;
    transform:  rotate(1.2deg);
}
.logo-parent {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 3.1px;
}
.logo-container {
    position: absolute;
    bottom: 0.25px;
    left: 0px;
    width: 151px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 6.3px;
    box-sizing: border-box;
    color: #f8fafc;
}
.side-menu {
    position: absolute;
    top: 0px;
    left: 0px;
    box-shadow: 1.2583333253860474px 0px 2.52px rgba(0, 0, 0, 0.25);
    background-color: #8e2121;
    width: 151px;
    height: 644.3px;
    overflow: hidden;
}
.vector-icon {
    position: absolute;
    height: 1.2%;
    width: 0.73%;
    top: 58.91%;
    right: 96.88%;
    bottom: 39.89%;
    left: 2.39%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    transform:  rotate(1.2deg);
}
.vector-icon1 {
    position: absolute;
    height: 3.03%;
    width: 1.74%;
    top: 58%;
    right: 96.37%;
    bottom: 38.97%;
    left: 1.89%;
    max-width: 100%;
    overflow: hidden;
    max-height: 100%;
    transform:  rotate(1.2deg);
}
.lable5 {
    position: absolute;
    top: 241.38px;
    left: 37.73px;
    font-size: 8.81px;
    line-height: 150%;
}
.backendbanner {
    width: 195.8px;
    box-shadow: 0px 0px 4.14px rgba(59, 130, 246, 0.12);
    border-radius: 4.14px;
    background-color: #fff;
    border: 0.5px solid #e2e8f0;
    box-sizing: border-box;
    height: 61.8px;
}
.backendbanner-parent {
    position: absolute;
    top: 75px;
    left: 173px;
    height: 202px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8.3px;
}
.charts {
    position: absolute;
    top: 75px;
    left: 380px;
    box-shadow: 0px 0px 4.14px rgba(59, 130, 246, 0.12);
    border-radius: 6.22px;
    background-color: #fff;
    border: 0.5px solid #e2e8f0;
    box-sizing: border-box;
    width: 295px;
    height: 202px;
}
.backendreview-badge {
    width: 119.4px;
    position: relative;
    box-shadow: 0px 0px 5.55px rgba(59, 130, 246, 0.12);
    border-radius: 5.55px;
    background-color: #fff;
    border: 0.7px solid #e2e8f0;
    box-sizing: border-box;
    height: 69.4px;
    overflow: hidden;
    flex-shrink: 0;
}
.backendreview-badge-parent {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5.6px;
}
.frame-wrapper {
    position: absolute;
    top: 293px;
    left: 173px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
}
.side-menu-parent {
    width: 100%;
    position: relative;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    background-color: #fff;
    height: 416.5px;
    overflow: hidden;
    transform:  rotate(-1.2deg);
    transform-origin: 0 0;
    text-align: left;
    font-size: 10.07px;
    color: #e2e8f0;
    font-family: Inter;
}

